@media only screen and (min-width:1030px) {

    .main {
        width: 100vw;
    }

    .menu {
        padding-right: 2rem;
    }

    .sdpage {
        height: 100vh;
        width: 100%;
        margin-top: 50vh;
    }

    .srchicon i {
        font-size: 4vh;
    }

    .srchicon {
        padding-left: 50rem;
    }

    .menuicon {
        display: none;
    }

    button {
        font-size: 1.2rem;
        cursor: pointer;
    }

    .block {
        font-size: 1.2rem;
    }

    .block p {
        font-size: 0.8rem;
    }

    table span {
        font-size: 0.7rem;
    }

    .fhpage p {
        width: 41vw;
    }

    .rt li {
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 770px) and (max-width:1030px) {
    .main {
        width: 100vw;
    }

    .logo {
        padding-left: 7vw;
    }

    .ftpage {
        padding: 2rem;
    }

    .srchicon {
        padding-left: 40rem;
    }

    .menuicon {
        display: none;
    }

    .para {
        margin-left: 2rem;
        margin-top: 2rem;
        max-width: 50%;
    }

    table {
        margin-right: 2rem;
        margin-left: 2rem;
    }

    button {
        font-size: 1.5rem;
        margin-left: 35%;
        margin-right: 35%;
    }

    .sdpage img {
        width: 100%;
    }

    .tdpage {
        flex-direction: row;
    }

    .left {
        padding: 2rem;
        max-width: 50%;
    }

    .fg {
        margin-left: 3.5vw;
        margin-top: -25vh;
    }

    .fhpage {
        width: 105%;
    }

    .fhpage img {
        margin-top: 10vh;
    }

    .fhpage p {
        margin-top: 13vh;
        margin-left: 10vh;
        width: 38vw;
    }

    .rt {
        margin-top: -4%;
        margin-left: 47%;
    }

    .footer {
        margin: 0vh 35%;
    }
}

@media only screen and (min-width: 640px) and (max-width:770px) {

    .main {
        width: 100vw;
    }

    .logo {
        padding-left: 8vw;
        height: 5vh;
        width: 36vw;
    }

    .menu {
        font-size: 0.8rem;
        justify-content: space-between;
        padding-left: 12vw;
        padding-right: 6vw;
    }

    .spcl {
        padding-right: 2rem;
    }

    .srchicon {
        padding-left: 24rem;
    }

    .menuicon {
        display: none;
    }

    table {
        font-size: 0.8rem;
        margin-left: 2vw;
        padding-right: 12vw;
    }

    table span {
        margin-left: 0.8rem;
        color: darkgray;
        font-size: 0.6rem;
    }

    button {
        height: 2.4rem;
        width: 7rem;
        font-size: 1rem;
        margin-left: 35%;
        margin-right: 35%;
    }

    .sdpage {
        height: 80vh;
        margin-top: 45vh;
    }

    .tdpage {
        margin: 0;
    }

    .left {
        padding: 3rem;
    }

    .left h1 {
        font-size: 1.5rem;
    }

    .block {
        font-size: 1rem;
    }

    .block p {
        font-size: 0.8rem;
        width: 33vw;
    }

    .ri-checkbox-circle-fill {
        font-size: 1.2rem;
    }

    .right {
        margin-top: 31vh
    }

    .fg {
        height: 75vh;
        width: 33vw;
        margin-left: 3.5vw;
        margin-top: -18vh;
    }

    .fhpage p {
        width: 44vw;
    }

    .rt {
        padding-right: 8rem;
        margin-left: 56vw;
    }

    .rt ul {
        margin-top: -4.5rem;
        font-size: 1rem;
    }

    .rt li {
        font-size: 0.7rem;
        padding-top: 0.5rem;
    }
}

@media only screen and (max-width: 640px) {

    .main {
        width: 170vw;
        height: 20vh;
    }

    .navbar div {
        flex-direction: column;
    }

    .logo img {
        height: 3rem;
        width: 18rem;
    }

    .menu {
        width: 100%;
        height: 10vh;
    }

    .sidebar {
        display: none;
    }

    .srchicon {
        margin-right: -43vw;
        font-size: 15vw;
        font-weight: 800;
    }

    .menuicon {
        color: white;
        padding-left: 11rem;
        padding-top: 0.5rem;
        font-size: 15vw;
        font-weight: 800;
    }

    .para {
        margin-left: 0vw;
        margin-top: 2vh;
        height: 6vh;
        width: 120vw;
    }

    table {
        border-spacing: 20px;
        margin-top: 5vh;
        margin-left: -10vw;
        font-size: 0.8rem;
    }

    .name {
        height: 3vh;
        width: 6vw;
        margin-right: 0.5vw;
    }

    table span {
        font-size: 0.6rem;
    }

    .chart {
        height: 1rem;
        width: 2rem;
    }

    button {
        height: 2rem;
        width: 6rem;
        margin-left: 45%;
        margin-right: 45%;
        font-size: 1rem;
    }

    .sdpage {
        height: fit-content;
        width: fit-content;
        margin-top: 50vh;
    }

    .sdpage img {
        width: 100%;
        height: 100%;
    }

    .tdpage {
        margin-top: 0;
        margin-left: 0;
    }

    .left {
        padding: 2rem;
    }

    .left h1 {
        font-size: 1rem;
    }

    .block {
        font-size: 1rem;
        width: 55vw;
    }

    .block p {
        font-size: 0.8rem;
        width: 55vw;
    }

    .ri-checkbox-circle-fill {
        font-size: 0.8rem;
        padding-right: 1rem;
    }

    .b3 {
        padding-left: 69vw;
        margin-top: -11vh;
        padding-bottom: 10vh;
    }

    .b3 p {
        width: 85vw;
    }

    .right {
        height: fit-content;
        width: fit-content;
        margin-top: 25vh;
        margin-right: 5vw;
    }

    .bg {
        height: 28vh;
        width: 70vw;
    }

    .fg {
        height: 170%;
        width: 90%;
        margin-left: 2.5vw;
        margin-top: -12vh;
    }

    .l2 img {
        height: 2rem;
        width: 10rem;
        padding-left: 1rem;
        padding-top: 2vh;
    }

    .fhpage p {
        margin-top: 15vh;
        margin-left: 4vh;
        font-size: 0.75rem;
        width: 12rem;
    }

    .lt {
        margin-bottom: -9rem;
    }

    .lt div {
        margin-top: -2rem;
    }

    .rt {
        padding-right: 4rem;
        margin-left: 75vw;
    }

    .p1 {
        margin-right: -50vw;
    }

    .p2 {
        margin-right: -54vw;
    }

    .p3 {
        margin-right: 5vw;
    }

    .rt ul {
        margin: 0;
        font-size: 0.9rem;
    }

    .rt li {
        font-size: 0.5rem;
        padding-top: 1vh;
        width: 15vh;
    }

    .footer {
        margin-left: 15%;
        margin-top: -10vh;
    }
}